{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static '/css/mypost.css' %}">
    <title>My Post</title>
  </head>
  <body>

{% include 'navbar.html' %}
<section>
    <div class="main">

    
    <div class="sidebar">
        <div class="username">
            <h3>Welcome user</h3>
        </div>

        <div class="content">
            <ul>
                <li ><a href="{% url 'profile' user.id %}" >Profile</a></li>
                 <li><a href="{% url 'viewing' user.id %}">My Post</a></li>
                <li><a href="{% url 'newpost' user.id %}">Add Post</a></li>
            </ul>
        </div>
    </div>

    <div class="mypost">
        <h1>My Post</h1>
        <table class="table">
          <tr>
            <th>Date</th>
            <th>Post Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Url</th>
            <th>Actions</th>
            
          </tr>
         {% for p in aluminipost %}
<tr>
	<td>{{p.dateposted}}</td>
	<td>{{p.title}}</td>
	<td>{{p.description}}</td>
	<td><img src="{{p.image.url}}" alt="image" width="150px" height="100px"></td>
	<td><a href="{{p.url}}">{{p.url}}</a></td>
	<td><a href="{% url 'update' p.id %}">Update</a></td>
    <td><a href="{% url 'delete' p.id %}">Delete</a></td>
    {% comment %} <td><a href="{% url 'view' p.id %}">View</a></td> {% endcomment %}

</tr><br>
{% endfor %}
        </table>
    </div>





    </div>

</section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://kit.fontawesome.com/10b23c199a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>